.p{
    font-family: arial;
}
.banner{
    position: absolute;
    right:0;
    left:0;
    top:0;
    display: grid;
    grid-template-columns: 1fr;
    align-content: center;
    justify-items: center;
    height: 150px;
    background-color: black;
    color: white;
    box-shadow: 0,0,3,rgb(57, 56, 56);
    z-index: 1;
}
.background-color{
    height: 3000px;
    top:0;
    bottom:0;
    right:0;
    left:0;
    background-color: rgb(95, 95, 168);
}